/*** Standard Elements ***/

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 900px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1100px;
    min-width: 900px;
    display: flex;
    width: 100%;
    flex-grow: 1;
}

h1 {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0 5px 0;
    padding: 5px;
    transition: background-color 0.5s;
}

li:hover {
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
    color: #3c4043;
}

section {
    width: 33%;
    border: 1px solid #dadce0;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
}

section h2 {
    margin-bottom: 10px;
}

section li {
    padding-left: 40px;
    margin-left: -20px;
    margin-right: -20px;
}

footer {
    background-color: #dadce0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 900px;
}


/*** Classes ***/

.colorSquare {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 72px;
    font-weight: 900;
}

.colorSquare:hover {
    width: 200%;
    font-size: 144px;
    font-weight: 900;
}

.color1 {
    background-color: #4285f4;
}

.color2 {
    background-color: #ea4335;
}

.color3 {
    background-color: #fbbc05;
}

.color4 {
    background-color: #34a853;
}


/*** IDs ***/

#banner {
    max-width: 1100px;
    min-width: 900px;
    width: 100vw;
    height: 250px;
    display: flex;
    padding: 20px 0 20px 0;
    cursor: pointer;
}

#colorFirst {
    border-radius: 50px 0 0 50px;
}

#colorLast {
    border-radius: 0 50px 50px 0;
}

#info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(1100px * 0.7);
    background-color: #7986cb;
    color: white;
    border-radius: 50px;
    animation: bgColorChange 50s ease-in-out infinite;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
}

#googleTag {
    margin: 0px;
    padding: 8px;
}

#footerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 0;
    padding: 0;
}

#footerList li {
    margin: 0;
    padding: 8px;
    border-radius: 8px;
}

#footerList li:hover {
    background-color: rgba(0, 0, 0, .1);
}


/*** Animation ***/

/* Default Google Calendar Colors */
@keyframes bgColorChange {
    0%,  8%   { background-color:#7986cb; }
    10%, 18%  { background-color:#8e24aa; }
    20%, 28%  { background-color:#d60000; }
    30%, 38%  { background-color:#e67c73; }
    40%, 48%  { background-color:#f5511d; }
    50%, 58%  { background-color:#f6c026; }
    60%, 68%  { background-color:#33b679; }
    70%, 78%  { background-color:#0b8043; }
    80%, 88%  { background-color:#3f51b5; }
    90%, 98%  { background-color:#039be5; }
    100%      { background-color:#7986cb; }
}
