* {
   color: white;
   font-family: 'Space Mono', monospace;
}

body {
   background-color: black;
   position: relative;
   min-height: 100vh;
}

#SpaceBG {
   position: relative;
   width: 100vw;
   height: 100vh;
   
}

#Moon {
   position: absolute;
   width: 150px;
   height: 150px;

   background-color: #C4C4C4;
   border-radius: 50%;

   left: 15px;
   top: 15px;

   overflow: hidden;

   z-index: 1;
}

.crater {
   position: absolute;
   width: 43px;
   height: 43px;
   border-radius: 50%;
   background-color: #696969;
}

#Crater1 {
   width: 70px;
   height: 70px;
   left: 20px;
   top: 60px;
}
#Crater2 {
   left: 116px;
   top: 85px;
}
#Crater3 {
   left: 11px;
   top: 10px;
}
#Crater4 {
   left: 102px;
   top: 18px;
}

.star {
   position: absolute;
   background-color: white;
   border-radius: 100%;
}

#content {
   background: linear-gradient(180deg, #A82A68 0%, #7F2F9B 100%);
   border-radius: 15px;
   width: 500px;
   padding: 20px;
   
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   z-index: 2;
}

header {
   margin: 10px 0 20px 0;
}

h1 {
   text-align: center;
   margin: 0 0 20px 0;
   font-size: 36px;
}

h2 {
   text-align: center;
   margin: 10px;
   font-size: 24px;
}

section {
   background-color: #591558;
   border: 1px solid black;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   padding: 20px;
   /* width: 100%; */
}

label {
   display: block;
   margin-top: 20px;
   font-size: 20px;
   padding-left: 5px;
}

label[for="word1"] {
   margin-top: 0;
}

input {
   display: block;
}

input:focus {
   outline: none;
}

section input {
   font-size: 18px;
   color: black;
   /* background-color: gray; */

   border: none;
   border-radius: 50px;
   box-sizing: border-box;

   margin-top: 8px;
   padding: 0px 15px 0px 15px;
   width: 100%;
   height: 35px;
}

section input:focus {
   background-color: white;
}

.bottomButtonContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

input[type="submit"] {
   width: 180px;
   height: 50px;

   background-color: #422AA8;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;

   font-size: 24px;
}

input[type="submit"]:focus {
   /* do this later */
}