* {
   color: white;
   font-family: 'Space Mono', monospace;
}

body {
   background-color: black;
   position: relative;
   min-height: 100vh;
}

#SpaceBG {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

#Moon {
   position: absolute;
   width: 150px;
   height: 150px;

   background: #C4C4C4;
   border-radius: 50%;

   overflow: hidden;

   z-index: 1;

   animation: moonAnimation 50s linear infinite;
}

#MoonGradient {
   background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 72%);
   width: 300px;
   height: 300px;
   position: absolute;
   background-position: -115px -115px;
}

.crater {
   position: absolute;
   width: 43px;
   height: 43px;
   border-radius: 50%;
   background-color: #7e7e7e;
}

#Crater1 {
   width: 70px;
   height: 70px;
   left: 20px;
   top: 60px;
}
#Crater2 {
   left: 116px;
   top: 85px;
}
#Crater3 {
   left: 11px;
   top: 10px;
}
#Crater4 {
   left: 102px;
   top: 18px;
}

.star {
   position: absolute;
   background-color: white;
   border-radius: 100%;
}

#content {
   background: linear-gradient(180deg, #A82A68 0%, #7F2F9B 100%);
   border-radius: 15px;
   width: 500px;
   padding: 20px;
   
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   z-index: 2;
}

header {
   margin: 10px 0 20px 0;
}

h1 {
   text-align: center;
   margin: 0 0 20px 0;
   font-size: 36px;
}

h2 {
   text-align: center;
   margin: 10px;
   font-size: 24px;
}

#containerSection {
   background-color: #591558;
   border: 1px solid black;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   padding: 20px;
   /* width: 100%; */
}

label {
   display: block;
   margin-top: 20px;
   font-size: 20px;
   padding-left: 5px;
}

label[for="word1"] {
   margin-top: 0;
}

input {
   display: block;
}

input:focus {
   outline: none;
}

#formSection input {
   font-size: 18px;
   color: black;
   background-color: #bbbbbb;

   border: none;
   border-radius: 50px;
   box-sizing: border-box;

   margin-top: 8px;
   padding: 0px 15px 0px 15px;
   width: 100%;
   height: 35px;
}

#formSection input:focus {
   background-color: white;
}

#formError {
   color: red;
   margin: 0;
   transition: all 0.3s;
   font-size: 18px;
   overflow: hidden;
   line-height: 0;
}

#formError.showing {
   line-height: 1.5;
   margin-top: 16px;
}

#MadLib {
   font-size: 20px;
   line-height: 1.5;
}

em {
   font-style: normal;
   /* text-decoration: underline; */
   font-weight: bold;
   color: rgb(255, 255, 0);
}

.bottomButtonContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 10px;
}

input[type="submit"] {
   width: 180px;
   height: 50px;

   background-color: #422AA8;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;

   font-size: 24px;
}

input[type="submit"]:focus {
   background-color: #5742b4;
}

input[type="submit"]:hover {
   background-color: #5742b4;
   cursor: pointer;
}

input[type="submit"]:active {
   background-color: #5742b4;
   transform: translateY(2px);
}

input[type="submit"].restartButton {
   width: 400px;
}

footer {
   width: 100%;
   display: flex;
   justify-content: center;
}

nav {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   /* background-color: #591558;
   border: 1px solid black;
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px; */
}

nav ul {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
   justify-content: space-evenly;
   width: 400px;
}

nav li {
   padding: 10px;
}

nav li a {
   padding: 10px;
   border-radius: 10px;
   /* color: #2F497A; */
   transition: background-color 0.5s;
}

@keyframes moonAnimation {
   0% {
      top: 20%;
      left: -150px;
      transform: rotate(0deg);
   }
   33.3333% {
      top: 60%;
      left: 100%;
      transform: rotate(60deg);
   }
   33.3334% {
      top: 80%;
      left: -150px;
      transform: rotate(120deg);
   }
   66.6666% {
      top: 40%;
      left: 100%;
      transform: rotate(180deg);
   }
   66.6667% {
      top: -150px;
      left: 80%;
      transform: rotate(240deg);
   }
   100% {
      top: 100%;
      left: 10%;
      transform: rotate(300deg);
   }
}