body {
   font-family: 'Coiny', cursive;
   color: #333;
   padding: 50px;
   line-height: 1.5em;
}

h1 {
   
}

button { 
   padding: 10px;
}

div {
   padding: 20px;
}

.card {
   font-family: 'Crete Round', serif;
}

#gamecontrol, #score {
   background-color: aliceblue;
}

#game {
   background-color:#eaeaea;
}
#actions {
   background-color: silver;
}